* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  margin: 0;
  background: black;
  opacity: 0.9;
  height: 20px;
  min-width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.header-right {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}

.videoPage {
  background-color: black;
  min-height: 100vh;
}

.video {
  min-width: 100%;
  height: 900px;
  padding-top: 90px;
}

.videoChannel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.videoDescription {
  height: auto;
}

.videoDescription p {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.like-button button.liked {
  background-color: darkblue;
  color: white;
}

.videosTable,
.playlistTable,
.videosFromPlaylistTable {
  margin: 100px auto;
  background: black;
  opacity: 0.9;
  min-height: 100%;
  padding: 20px;
  border-radius: 25px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

.upload-container {
  min-height: 100vh;
  padding-top: 100px;
}

.modal-content {
  border: red;
  gap: 10px;
  padding-right: 100px;
}

.success-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.deleteCommentButton {
  width: 200px;
}

.linkToChannel {
  font-size: 20px;
  text-decoration: none;
}

.channelTitle {
  font-size: 35px;
  text-decoration: none;
}

.linkToChannel:hover,
.channelTitle:hover {
  color: aliceblue
}

.upload-container {
  margin: 100px auto;
  width: 300px;
  background: black;
  height: 800px;
  opacity: 0.9;
  min-height: 100%;
  padding: 20px;
  border-radius: 25px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.login-container {
  margin: 100px auto;
  min-width: 50vh;
  background: black;
  opacity: 0.9;
  min-height: 100%;
  padding: 20px;
  border-radius: 25px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  width: 300px;
}

.button1,
.button2,
.button3 {
  padding: 8px;
}

.titleFromChannel,
.actionsFromChannel,
.titleFromPlaylist,
.actionsFromPlaylist {
  width: 50%;
}

.editAccount-container {
  margin: 100px auto;
  width: 300px;
  opacity: 0.9;
  min-height: 100%;
  padding: 20px;
}

.alertUser {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  font-size: 20px;
}

.popup {
  width: 300px;
}

.popupContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn.navbar-brand:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #f8f9fa;
}

.menuButtons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px
}

.noPlaylists {
  text-align: center;
}

.buttonSpace {
  padding: 5px;
}

.buttonsPlaylist {
  padding: 8px
}

.actionsPlaylist {
  display: flex;
  gap: 10px;
}

.createPlayButtons {
  display: flex;
  gap: 10px
}

.channelOwner {
  font-size: 25px;
  text-decoration: none;
}

.yourPlaylist {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {

  .test {
    height: 50px;
    width: 250px;
    font-size: 15px;
  }

  .responsive,
  .linkToChannel,
  .videosTableTr {
    font-size: 15px;
  }

  .responsive {
    max-width: 85px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .actions,
  .actionsPlaylist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px
  }

  .playlistVideoPage {
    width: 140px;
  }

  .button-width {
    width: 130px;
  }

  .createAreaPlaylist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .playlistVideoPage {
    width: 130px;
    font-size: 5px;
  }

  .like-button button.liked {
    font-size: x-small;
    margin-right: 5px;
  }

  .like-button button.notLiked {
    font-size: xx-small;
    margin-right: 5px;
  }

  .channelOwner {
    font-size: 20px;
  }

  #dropdown-basic {
    font-size: x-small;
  }

}